<%- include("../../include/header.ejs")%>
<style>
	.table th,td {
		text-align: center;
	}
	.pagination {
		margin-left : 650px;
	}
	.pagination li:hover {
		cursor: pointer;
	}
	.active {
		background-color : lightblue;
		color : white;  
	}
	.planBoardList:hover {
		cursor : pointer;
		background-color : lightgrey;
	}
	#btnSearch{
		width: 72px;
    	margin-left: 30px;
	}
	#searchType{
		padding:3px;
	}   
	#searchType2{
		padding: 2px;
    	margin: 0px 8px;
	}
	#keywordInput{
		padding:2px;
	}
	
</style>
<div class="content">	
	<div class="row">
		<div class="col-sm-12">    
			<div class="box box-primary">      
				<div class="box-header">
					<h2 class="box-title">상품 문의사항</h2>
				</div>
				<div class="box-body">
					<table class="table table-bordered">
						<tr>
							<th>번호</th>
							<th>제목</th>
							<th>작성자</th>
							<th>작성일자</th>
							<th>답변상태</th>
						</tr>
						<% list.forEach( planBoard => { %>
						<tr class="planBoardList" data-no="<%=planBoard.id%>" data-respond="<%=planBoard.respond%>">
							<td><%=planBoard.id%></td>
							<td><%=planBoard.title%></td>
							<td><%=planBoard.writer%></td>
							<td><%=planBoard.regdate%></td>
							<% if(planBoard.answer==0) { %>
								<td><span class="badge bg-orange">답변미완료</span></td>
								<% } %>
							<% if(planBoard.answer==1) { %>
								<td><span class="badge bg-blue">답변완료</span></td>
							<% } %>
						</tr>
						<% }) %>
					</table>
				</div>
			</div>         
		</div>
	</div>
</div>
<script>

		$(".planBoardList").click(function() {
		var id = $(this).attr("data-no");
		var respond=$(this).attr("data-respond");
		if(respond==null || respond==""){
			location.href = "planBoardDetail?id="+id;
		}else{
			location.href = "planBoardModify?id="+id;
		}
	})

</script>
<%- include("../../include/footer.ejs")%>